# Created by https://www.toptal.com/developers/gitignore/api/pico8
# Edit at https://www.toptal.com/developers/gitignore?templates=pico8

### pico8 ###
# exported file types
#*.p8.png
#*.png
#*.wav
#*.js
#*.html
#*.bin


!pico-8/AppData/
pico-8/AppData/*
!pico-8/AppData/config.txt


# End of https://www.toptal.com/developers/gitignore/api/pico8
